[submodule "demoProject/todoApp"]
	path = demoProject/todoApp
	url = https://github.com/WWWCourses/todoApp_vanillaJS
[submodule "demoProject/demoProject/todo-app-react"]
	path = demoProject/demoProject/todo-app-react
	url = https://github.com/WWWCourses/todo-app-react
